@use '/src/styles/constants/colors';

.container {
  display: flex;
  justify-content: space-between;
  padding: 16px;

  h1 {
    font-size: 24px;
  }

  svg {
    width: 20px;
    max-height: 20px;
    fill: colors.$GRAYA;
  }
}
